<!DOCTYPE html>
<html>
  <head>
    <title>About | Blog App</title>
  </head>
  <body>
    <h1>Blog App</h1>
    <p>
	  The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
	  Tutorial</em></a>, part of the
	  <a href="https://www.learnenough.com/">Learn Enough</a> family of
	  tutorials.

	  This App has been developed from Raf Brouzos as a sample Ruby on Rails Web App
	</p>
  </body>
</html>