<% provide(:title, "About") %>
<h1>Blog App</h1>
<p>
	Blog App is a web app created for user to share ideas, that could change the world.
</p>
<p>
	This App has been developed from Raf Brouzos as a sample <a href="https://www.railstutorial.org/"><em>Ruby on Rails</em></a> Web App.

</p>
