<!DOCTYPE html>
<html>
  <head>
    <title>Home | Blog App</title>
  </head>
  <body>
    <h1>Blog App</h1>
    <p>
      This is the home page for the
      <a href="https://www.github.com/bronzeraf/blog-app">Blog App</a>
      sample application.
    </p>
  </body>
</html>