<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Home</h1>
	<h2>
	  This is the home page for the
	    <a href="https://www.github.com/bronzeraf/blog-app">Blog App</a>
	      sample application.
	</h2>
	<%= link_to "Sign up now!", '#', class: "btn btn-lg btnprimary" %>
</div>

<%= link_to image_tag("raf.jpeg", alt: "Rafail Brouzos", width:"80"),"https://www.linkedin.com/in/rafail-brouzos-829528162/" %>